<br />
<%= link_to 'Back', organization_path(@organization), class: "btn btn-primary" %>
<br />
<% if @organization.memberships.find_by(user_id: current_user.id, role: :admin) %>
  <h2>Candidates</h2>
  <ul id="candidates-list" class="list-group">
    <%= render partial: "candidate", collection: @candidates %>
  </ul>
<% end %>

<h1>Members</h1>

<ul id="members-list" class="list-group">
  <%= render partial: "member", collection: @members %>
</ul>
