<h1>Users</h1>
<div class="col-lg-3">
  <div id="filters">
    <div class="form-group">
      <input type="text" class="form-control" id="name" disabled>
    </div>
    <div class="checkbox">
      <label><input id="online-checkbox" type="checkbox">online</label>
    </div>
  </div>
</div>

<div class="col-lg-9">
  <div class="form-group">
    <label for="sort">Sort</label>
    <select class="form-control" id="sort">
      <option value="oldest">Oldest</option>
      <option value="newest">Newest</option>
    </select>
  </div>

  <ul id="users-list" class="list-group">
  </ul>
</div>
