<h1><%= @user.name %></h1>
<% unless @current_user == @user %>
  <% if @chatroom %>
    <%= link_to "Go to dialog", chatroom_path(@chatroom.id) %>
  <% else %>
    <%= link_to "Send message", new_chatroom_path(@user.id), method: :post %>
  <% end %>
<% end %>
