<h1>Subjects</h1>

<% if current_user && current_user.admin? %>
  <%= button_to 'New Subject', new_subject_path, class: "btn btn-primary", method: "get" %>
<% end %>

<ul id= "subjects-list" class="list-group">
  <%= render @subjects, current_user: current_user %>
</ul>
