@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.timepicker.css";
@import "jquery.timepicker.css";
@import "bootstrap-datepicker.css";

.video-call-link {
  color: blue;
}

.video-call-link:hover {
  cursor: pointer;
}

#video-chat {
  display: none;
  min-height: 400px;

  #chat-controls {
    position: absolute;
    right: 50%;
    bottom: 10px;

    #hang-up-button {
      width: 32px;

      &:hover {
        cursor: pointer;
      }
    }
  }


  #webcam-preview {
    position: absolute;
    right: 10px;
    bottom: 10px;
    video {
      height: 150px;
    }
  }

  #participants-webcams {
    height: 400px;

    video {
      width: 100%;
    }

    #no-participants {
      position: absolute;
      top: 50%;
      transform: translateX(50%);
    }
  }
}

#users-list, #interested-users-list, #invite-users-list  {
  .avatar {
    width: 32px;
    height: 32px;
  }

  .pull-left {
    position: relative;

    .status {
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 50%;
	    width: 10px;
	    height: 10px;

      .online {
        border-radius: inherit;
        width: inherit;
        height: inherit;
        background: chartreuse;
      }

      .offline {
        border-radius: inherit;
        width: inherit;
        height: inherit;
        background: grey;
      }
    }
  }
}

.msg {
  padding:5px;
  margin:0;

  .avatar {
    width: 32px;
    height: 32px;
  }

  .time {
      color:#bfbfbf;
    }

  .media-heading {
    color:#003bb3;
    font-weight: 700;
  }
}

#messages {
  padding:10px;
  max-height: 400px;
  overflow: auto;

  .edit-message {
    display: none;
    &:hover {
      cursor: pointer;
    }
  }

  .edit-form {
    display: none;
  }

  .pull-left {
    position: relative;

    .status {
      position: absolute;
      right: 10px;
      bottom: 0;
      border-radius: 50%;
	    width: 10px;
	    height: 10px;

      .online {
        border-radius: inherit;
        width: inherit;
        height: inherit;
        background: chartreuse;
      }

      .offline {
        border-radius: inherit;
        width: inherit;
        height: inherit;
        background: grey;
      }
    }
  }
}

.profile-avatar {
  max-height: 100%;
  max-width: 100%;
}

#relation-with-user {
  margin-bottom: 10px;
}

.status {
  .online {
    color: green;
  }
  .offline {
    color: grey;
  }
}

#subjects-list {
  margin-top: 10px;
}

#sort {
  display: inline-block;
  width: auto;
}

#invite-users-list {
  display: none;
}

.lesson {

  .lesson-time {
    color:#bfbfbf;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .lesson-message {
    margin-left: 5px;
  }

  form {
    display: inline-block;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }

  .pull-left {
    position: relative;

    .status {
      position: absolute;
      right: 3px;
      bottom: 0;
      border-radius: 50%;
	    width: 10px;
	    height: 10px;

      .online {
        border-radius: inherit;
        width: inherit;
        height: inherit;
        background: chartreuse;
      }

      .offline {
        border-radius: inherit;
        width: inherit;
        height: inherit;
        background: grey;
      }
    }
  }
}

.chatroom-button {
  margin-bottom: 10px;
}

.remember_me {
  margin-top: 10px;
}
