@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.timepicker.css";

.video-call-link {
  color: blue;
}

.video-call-link:hover {
  cursor: pointer;
}

#video-chat {
  display: none;
  min-height: 400px;

  #chat-controls {
    position: absolute;
    right: 50%;
    bottom: 10px;

    #hang-up-button {
      width: 32px;

      &:hover {
        cursor: pointer;
      }
    }
  }


  #webcam-preview {
    position: absolute;
    right: 10px;
    bottom: 10px;
    video {
      height: 150px;
    }
  }

  #participants-webcams {
    height: 400px;

    video {
      width: 100%;
    }

    #no-participants {
      position: absolute;
      top: 50%;
      transform: translateX(50%);
    }
  }
}

#users-list, #interested-users-list, #invite-users-list  {
  .avatar {
    width: 32px;
    height: 32px;
  }

  .pull-left {
    position: relative;

    .status {
      position: absolute;
      right: 0;
      bottom: 0;
      border-radius: 50%;
	    width: 10px;
	    height: 10px;

      .online {
        border-radius: inherit;
        width: inherit;
        height: inherit;
        background: chartreuse;
      }

      .offline {
        border-radius: inherit;
        width: inherit;
        height: inherit;
        background: grey;
      }
    }
  }
}

.msg {
  padding:5px;
  margin:0;

  .avatar {
    width: 32px;
    height: 32px;
  }

  .time {
      color:#bfbfbf;
    }

  .media-heading {
    color:#003bb3;
    font-weight: 700;
  }
}

#messages {
  padding:10px;
  max-height: 400px;
  overflow: auto;

  .edit-message {
    display: none;
    &:hover {
      cursor: pointer;
    }
  }

  .edit-form {
    display: none;
  }

  .pull-left {
    position: relative;

    .status {
      position: absolute;
      right: 10px;
      bottom: 0;
      border-radius: 50%;
	    width: 10px;
	    height: 10px;

      .online {
        border-radius: inherit;
        width: inherit;
        height: inherit;
        background: chartreuse;
      }

      .offline {
        border-radius: inherit;
        width: inherit;
        height: inherit;
        background: grey;
      }
    }
  }
}

.profile-avatar {
  max-height: 100%;
  max-width: 100%;
}

#relation-with-user {
  margin-bottom: 10px;
}

.status {
  .online {
    color: green;
  }
  .offline {
    color: grey;
  }
}

#subjects-list {
  margin-top: 10px;
}

#sort {
  display: inline-block;
  width: auto;
}

#invite-users-list {
  display: none;
}

.ui-timepicker-wrapper {
	overflow-y: auto;
	height: 150px;
	width: 6.5em;
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
	box-shadow:0 5px 10px rgba(0,0,0,0.2);
	outline: none;
	z-index: 10001;
	margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
	width: 13em;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-30,
.ui-timepicker-wrapper.ui-timepicker-with-duration.ui-timepicker-step-60 {
	width: 11em;
}

.ui-timepicker-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ui-timepicker-duration {
	margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
	color: #888;
}

.ui-timepicker-list li {
	padding: 3px 0 3px 5px;
	cursor: pointer;
	white-space: nowrap;
	color: #000;
	list-style: none;
	margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
	background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
	background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
	color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	color: #888;
	cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
	background: #f2f2f2;
}
