<br/>

<div class="col-lg-3">
  <form id="search-form">
    <label>Name</label>
    <input type="text" class="form-control" id="name"/>
    <div class="checkbox">
      <label><input id="confirmed" type="checkbox">Confirmed</label>
    </div>
    <div class="checkbox">
      <label><input id="unconfirmed" type="checkbox">Pending approval</label>
    </div>
    <div class="checkbox">
      <label><input id="founder" type="checkbox">Founded by you</label>
    </div>

    <div class="checkbox">
      <label><input id="member" type="checkbox">Where you are member</label>
    </div>
  </form>
</div>

<div class="col-lg-9">
  <div class="form-group">
    <label for="order_by">Sort</label>
    <select class="form-control" id="order_by">
      <option value='newest'>Newest</option>
      <option value='oldest'>Oldest</option>
    </select>
  </div>

  <div id="list-loader"><i class="fa fa-circle-o-notch fa-spin" ></i></div>

  <ul id="current-user-organizations-list" class="list-group"></ul>
</div>
